[Unit]
Description=Thermometer
After=network.target

[Service]
Type=idle
User=root
WorkingDirectory=/home/pi/thermometer
ExecStart=/usr/bin/python /home/pi/thermometer/button.py

[Install]
WantedBy=multi-user.target
